include chats-data.pug

.messages.pt-5.px-4#chats
  h2 Чаты
  form.search-form.mb-4
    input.form-search(
      type="search",
      placeholder="Поиск по сообщениям",
      aria-label="Поиск по сообщениям"
    )

  //- Список чатов
  each chat in chats
    a.chat.d-block.shadow-sm.mBneg-18(href=`#chat-${chat.id}`)
      .d-flex.align-items-center
        img.avatar.rounded-circle(
          src=chat.avatar,
          alt=chat.name

        )
        .chat-info.flex-grow-1
          .d-flex.justify-content-between
            h5.mb-0= chat.name
            small.text-muted= chat.time
          .d-flex.justify-content-between.align-items-end
            p.mb-0.text-truncate.last-message(style="max-width: 70%")= chat.lastMessage

